

*, body {
   font-family: 'Syne', sans-serif !important;
}

/* HEADER */

#site-header.sticky-top {
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: #C8D6CF;
 }

 .inside-header {
   padding: 0px 40px !important;
 }

 .site-header .header-image {
   vertical-align: middle;
   margin-left: 38px;
 }

 main-navigation .main-nav ul li a {
   padding-top: 20px !important;
   padding-left: 50px !important;
   padding-right: 50px !important;
   line-height: 60px;
 }
 
 li.menu-item a {
    color: #000000 !important;
    font-size: 19px !important;
    display: inline-block;
    padding: 10px 50px !important;
    border-radius: 1px;
    text-align: center;
 }
 
/* Cible le dernier élément "li" du menu */
nav ul li:last-child {
  background: #DC9F96;
 
}

 .separate-containers .site-main {
   margin-top: 0px !important;
   
 }


 /*Personnalisation des éléments du body */

 /*Personnalisation des blocs page */ 
 .padding-block-0{
  padding-left: 0 !important;
  padding-right: 0 !important;
 }
 .top-block-xl{
   margin-top: 100px !important;
 }
 .top-block{
   margin-top: 10px !important;
 }
 .top-block-S{
   margin-top: 12px !important;
 }
 .top-block-l{
   margin-top: 50px !important;
 }
 .top-block-title{
   margin-top: 0 !important;
   padding-top: 0 !important;
 }
 .top-block-title-neg{
   margin-top: -40px !important;
   padding-top: 0 !important;
 }
 .top-block-title-neg-1{
   margin-top: -20px !important;
   padding-top: 0 !important;
 }
 .down-block{
   margin-bottom: 52px !important;
 }
 .down-block-sm{
   margin-bottom: 17px !important;
 }
 .down-block-xs{
   z-index: 1;
   margin-bottom: -20px !important;
   padding: 0 !important;
   height: 30px;
   gap: 0;
 }

 .down-block-0{
  margin-top: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
 }
 .down-block-1{
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
 }
 .center-block{
  margin-top: auto !important;
 }
 .center-block-1{
  margin-bottom: auto !important;
 }
 .center-block-2{
  margin: auto !important;
 }
 .center-block-left-right{
  position: relative !important;
  margin-left: auto !important;
  margin-right: auto !important;
  align-items: center !important;
  justify-content: center !important;
 z-index: 10 !important;
 }
.left-block{
  margin-left: 0 !important;
  padding-left: 0 !important;

}

.width-block-m{
   width: 100% !important;
}
.width-block-m1{
   width: 85% !important;
}
.width-block-m2{
   width: 70% !important;
   margin: 0 auto !important;
}
.width-block-m3{
   width: 77% !important;
   margin: 0 auto !important;
}
.width-block-sm{
  position: relative !important;
  width: 70% !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0px auto !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;

}

 .negative-down-block{
   margin-top: -80px !important;
 }
 .block-size{
   flex-basis: 80% !important;
   text-align: center;
 }

 /*Personnalisation du 1er formulaire */

 .font{
  font-weight: 400 !important;
 }
 .font-lg{
  font-weight: 800 !important;
  font-size: 21px !important;
  margin: auto !important;
 }
.strong {
  font-weight: 800 !important;
  font-size: 20px !important;
}
 .center-button {
  font-size: 13px !important;
  height: auto !important;
  display: block;
  padding: 18px 70px !important;
  margin: 0 auto !important;
  margin-bottom: 20px !important;
  text-align: center; 
  background-color: #E0B9B4 !important;
}

 .button-settings{
   padding: 40px 40px !important;
 }

  /*Personnalisation du formulaire de précommande */
  .pre-order-form-block{
    margin: auto !important;
    width: 70%;
    display: flex;
    flex-direction: column;
  }
.pre-order-form{
  
  display: flex ;
  justify-content: space-between;
  padding-top: 50px;
}
.form-column-1, .form-column-2{
  width: 50%;
}

.form-column-1{
  padding-right: 50px !important;
  border-right: 1px solid #FFFFFF;
  padding-bottom: 0 !important;
}

.form-column-2{
  padding-left: 50px !important;
}
.pre-order-title-form{
  font-weight: 700 !important;
}

.field-blocks{
  margin-top: 20px !important;
}
.pre-order-fields{
  font-weight: 400 !important;
  font-size: 19px !important;
}
 p{
  margin-bottom: 0 !important;
}



.input[type="text"], .wpcf7-text{
  border-radius: 5px !important;
  padding: 17px 15px !important;
  margin-top: 6px !important;
}

.submit-order{
  margin: auto;
  margin-top: 40px;
  width: auto;
}
.wpcf7-submit{
  padding: 13px 50px !important;
  font-size: 14px !important;
  border-radius: 4px;
}
.wpcf7-spinner{
  display: none !important;
}

 /*Personnalisation des bordures de block */
 .parent-rounded-container {
  position: relative;
  overflow-x: hidden !important;

  /* autres styles nécessaires pour le conteneur */
}
 .border-block {
  position: relative;
  z-index: -1;
  border-bottom: 10px solid #e3d9d0;
  padding-top: 80px !important;
  left: 50%;
  transform: translateX(-50%); /* Centrage parfait horizontalement */
  width: 200%;
  border-radius: 0 0 45% 45%; /* Les deux premiers zéros sont pour les coins supérieurs, les 25px sont pour les coins inférieurs */
}
 .border-block2 {
   position: absolute;
   border-radius: 50% / 100%; /* Arrondi horizontal à 50% et vertical à 100% pour l'effet ovale en bas */
   padding-top: 135px !important;
   padding-bottom: 0px !important;
   margin-top: 0;
   top: 0;
   left: 53.5%; /* Position horizontale initiale (centrée par rapport au parent) */
   transform: translateX(-50%); /* Centrage parfait horizontalement */
   width: 125%;
   border-radius: 0 0 100% 100%; /* Les deux premiers zéros sont pour les coins supérieurs, les 25px sont pour les coins inférieurs */
   overflow: hidden; /* Assurez-vous que le contenu interne s'adapte également à cette forme arrondie */
}
 
/* Conteneur parent avec position relative */
.wp-block-group {
   position: relative;
   z-index: 2;
}
/* Style pour image de fond */
.background-image {
   z-index: 2;
   position: relative; /* ou absolute si nécessaire */
}
/* Style pour superposer les images */
.left-lief{
   position: absolute;
   left: 43.8%;
   top: 66.6%;
   transform: translate(-50%, -50%);
   z-index: 1;
}
.right-lief{
   position: absolute;
   left: 56%;
   top: 66.6%;
   transform: translate(-50%, -50%);
   z-index: 1;
}
.vegetal1{
  position: absolute;
  left: 21%;
  top: 34%;
  transform: translate(-50%, -50%);

}
.vegetal2{
  position: absolute;
  left: 38.5%;
  top: 63%;
  transform: translate(-50%, -50%);
  z-index: 1;

}
.vegetal3{
  padding-top: 0 !important;
  margin-top: 0 !important;
  position: absolute;
  left: 88%;
  top: 73%;
  transform: translate(-50%, -50%);
  z-index: 1;

}

/* Personnalisation des produits et de l'ajout de quantités */
.container-of-product-quantity-blocks {
  display: flex;
  gap: 13px;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto !important;
  align-items: center;
}

.product-quantity-block {
  position: relative;
  display: inline-block;
  margin: 10px;
  text-align: center;
  width: calc(25% - 30px); /* Ajuste la largeur pour tenir compte des marges */
  vertical-align: top; /* Aligner les éléments en haut */
}
.product-image-and-number{
  display: flex;
  flex-direction: column;
}
.product-image-container {
  display: inline-block;
  margin-bottom: 5px;
}

.product-image {
  position: relative;
  display: block;
  height: auto;
}

.product-name {
  text-transform: uppercase;
  width: 100%;
  font-weight: 800;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px !important;
  color: white;
}

.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 40px;
}

.quantity-change {
  background-color: #DC9F96;
  border: none;
  width: 45px;
  height: 31.75px;
  cursor: pointer;
  font-size: 1em; /* Ajuster selon le design souhaité */
  padding: 0 !important;
  

}

/* Spécifique pour les boutons plus et moins afin qu'ils soient de même largeur */
.quantity-plus,
.quantity-minus {
    text-align: center;
}
.quantity-plus {
  border-bottom: 1px solid white; /* Ajoute une bordure blanche en bas du bouton "+" */
}


.quantity-input {
  font-family: inter !important;
  border-radius: 5px 0 0 5px !important;
  width: 59px;
  height: 63.5px;
  text-align: center;
  font-size: 23px;
}

.quantity-buttons {
  display: flex;
  flex-direction: column; /* Empile les boutons verticalement */
  border-radius: 0 5px 5px 0;
  overflow: hidden;

}

.submit-container{
  margin-left: 15px;
}

.submit-quantity{
  padding: 18px 63px;
  border-radius: 4px;
}
.quantity-submit {
  background-color: #E0B9B4;
  border-radius: 5px;
  padding: 20px 39px;
  border: none;
  cursor: pointer;
  font-size: 0.6em; /* Ajuster selon le design souhaité */
    margin-left: 14px; /* Espacement entre les boutons de quantité et le bouton OK */
}


/* Cacher les flèches du champ de type number */
.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input {
  -moz-appearance: textfield; /* Firefox */
}
.pre-order-form{
  display: flex;
  
}

.form-column-2{
  padding-left: 150px !important;
}

 /* FOOTER */
 #site-footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   margin-top: 10px !important;
   margin-bottom: 0px !important;
   padding: 25px;
   padding-bottom: 0px;
   text-align: center;
   background-color: #FFFFFF !important;
   z-index: 10 !important;
}
.footer-content{
  padding-bottom: 40px !important;
}
.footer-link{
  color: #000000 !important;
}
.footer-link:hover{
  color: #E0B9B4 !important;
}

/* MEDIA QUERIES */
/* Pour les petits laptops et desktops */
@media (max-width: 1530px) {
  .inside-header{
    padding: 0 !important;
  }
}

@media (max-width: 1376px) {
  .quantity-submit{
    padding: 20px 19px !important;
  }
}

/* Pour tablettes en mode paysage et petits desktops */

@media (max-width: 1200px) {
  .quantity-submit{
    padding: 20px 50px !important;
    
  }
  .width-block-m2 {
    flex-direction: column !important;
  }
  .pre-order-form{
    flex-direction: column !important;
    justify-content: center !important;

  }
  .form-column-1, .form-column-2{
    width: 100% !important;
    border-right: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

  }
  .form-column-1{
    padding-bottom: 60px !important;
  }
  .label{
    margin-left: 0 !important;
    text-align: start;
  }
  .form-column-2{
    padding-bottom: 30px !important;
  }

}

/* Pour tablettes en mode portrait */
@media (max-width: 900px) {
 
}

/* Pour téléphones en mode paysage */
@media (max-width: 600px) {
 
}

/* Pour téléphones en mode portrait */
@media (max-width: 480px) {
  h2{
    font-size: 25px !important;
  }
 h3{
  text-align: center !important;
 }
}
